# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/pcb/VFDClock-backups
/separator_pcb/Separator-backups
/pcb/Blender
/module_pcb/Module-backups
/module_pcb/production/backups
/separator_pcb/production/backups
/pcb/production/backups
/img/Blender files/*.blend1
/sw/.vscode
/sw/build
/sw/vfd_blink/build
/sw/vfd_blink/.vscode
/sw/vfd_hello_world/build
/sw/vfd_hello_world/.vscode
/sw/esp-idf-ds3231-master/build
/sw/esp-idf-ds3231-master/.vscode
/sw/vfd_driver_with_rtc/build
/sw/vfd_driver_with_rtc/.vscode
sdkconfig*